body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', serif;
}

header {
    position: relative;
    background-image: url('../images/stock/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    height: 35vh;
    width: 100%;
    border-bottom: .5vh solid;
    border-image: linear-gradient(90deg, rgba(210, 184, 135, 1) 0%, rgba(247, 245, 239, 1) 50%, rgba(210, 184, 135, 1) 100%) 1;
    /* box-shadow: inset 0 0 70px rgba(0, 0, 0, 0.2); */
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7.5vh;
    padding: 0 1.5vw;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .8) 10%, transparent);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul li {
    margin: 0;
    font-size: 1.5vh;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    color: white;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: rgba(210, 184, 135, 1);
}

nav ul li a:active {
    color: rgba(247, 245, 239, 1);
}

nav ul li a.active {
    color: rgba(210, 184, 135, 1);
    font-weight: bold;
}

.logo {
    height: 6vh;
}
main {
    padding: 2vh 15vw;
    margin: auto;
}

main .container {
    display: flex;
    align-items: center;
    gap: 20px;
}

main .container:nth-child(even) {
    flex-direction: row-reverse;
    padding: 20px;
}


main div img {
    width: 15vh;
    flex-shrink: 0;
}

main div h1,
main div p {
    margin: 0;
}

main .container h1 {
   font-family: 'Merriweather', serif;
   padding-bottom: .5vh;
}

main .container p {
    font-size: 1.5vh;
    line-height: 1.4;
    color: #333;
}

main .container {
    border-bottom: 1px solid #1C3E78; /* A very light gray */
    padding-bottom: 20px; /* Add some space below the line */
    margin-bottom: 30px; /* Add space before the next block starts */
}

main .container:last-child {
    border-bottom: none;
}

main .dollar img {
    width: 10vh;
}

footer {
    text-align: center;
    padding: 1vh 0;
    background-color:#1C3E78;
    border-top: .3vh solid;
    border-image: linear-gradient(90deg, rgba(210, 184, 135, 1) 0%, rgba(247, 245, 239, 1) 50%, rgba(210, 184, 135, 1) 100%) 1;
    font-size: 1.5vh;
    color: #666;
}

/* 
.container {
    border-bottom: ;
} */