body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
    background-image: url('../images/stock/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    height: 35vh;
    width: 100%;
    border-bottom: .5vh solid;
    border-image: linear-gradient(90deg, rgba(210, 184, 135, 1) 0%, rgba(247, 245, 239, 1) 50%, rgba(210, 184, 135, 1) 100%) 1;
    /* box-shadow: inset 0 0 70px rgba(0, 0, 0, 0.2); */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7.5vh;
    padding: 0 1.5vw;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .8) 10%, transparent);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 30px;
}

nav li {
    margin: 0;
    font-size: 1.5vh;
}

nav a {
    text-decoration: none;
    color: inherit;
    color: white;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: rgba(210, 184, 135, 1);
}

nav ul li a:active {
    color: rgba(247, 245, 239, 1);
}

nav ul li a.active {
    color: rgba(210, 184, 135, 1);
    font-weight: bold;
}

.logo {
    height: 6vh;
}
main {
    padding: 2vh 15vw;
    margin: auto;
}

.container {
    display: flex;
    align-items: center;
    gap: 20px;
}

main section div .container:nth-child(even) {
    flex-direction: row-reverse;
    padding: 20px;
}


main section div img {
    width: 13vh;
    flex-shrink: 0;
}

main section h2,
main section p {
    margin: 0;
}

main section div .container h2 {
   font-family: 'Merriweather', serif;
   padding-bottom: .5vh;
}

main section .container p {
    font-size: 1.5vh;
    /* line-height: 1.4; */
    color: #333;
}

main section div .container {
    border-bottom: 1px solid #1C3E78; 
    padding-bottom: 20px; 
    margin-bottom: 30px; 
}

main section div .container:last-child {
    border-bottom: none;
}

main section h1 {
    font-family: 'Merriweather', serif;
    font-size: 3vh;
    margin-bottom: 1vh;
    color: #1C3E78;
    text-align: center;
    text-shadow: -1px -1px 0 rgba(210, 184, 135, 1), 1px -1px 0 rgba(210, 184, 135, 1), -1px 1px 0 rgba(210, 184, 135, 1), 1px 1px 0 rgba(210, 184, 135, 1);
}

main #offerings .lists-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2vh;
}

main #offerings .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    color: white;
    background-color: #1C3E78;
    border: rgba(210, 184, 135, 1) solid .3vh;
    padding: 2vh;
}

main #offerings .list h2 {
    font-size: 2vh;
    margin-bottom: 1vh;
    text-align: center;
    border-right: 1px solid #1C3E78;
}

main #offerings .list ul {
    list-style-type: disc;
    padding-left: 2vh;
    padding-right: 2vh;
}

main #offerings .list ul li {
    color: white;
}

main #offerings .list h2 {
    color: white;
}

main #offerings .list ul li::marker {
    color: rgba(210, 184, 135, 1);
}

footer {
    text-align: center;
    padding: 1vh 0;
    background-color:#1C3E78;
    border-top: .3vh solid;
    border-image: linear-gradient(90deg, rgba(210, 184, 135, 1) 0%, rgba(247, 245, 239, 1) 50%, rgba(210, 184, 135, 1) 100%) 1;
    font-size: 1.5vh;
    color: #666;
}

.bio-image {
    margin: 0 auto 2vh auto;
    height: 35vh;
    width: auto;
}

section .bio {
    text-align: justify;
    margin-bottom: 1em;
}

ul{
    padding-left: 1.5vh;
    font-size: 1.5vh;
}

main section .container ul{
    line-height: 1.4vh;
    color: #333;
}

main section .container h2{
    color: #1C3E78;
    text-shadow: -.5px -.5px 0 rgba(210, 184, 135, 1), .5px -.5px 0 rgba(210, 184, 135, 1), -.5px .5px 0 rgba(210, 184, 135, 1), .5px .5px 0 rgba(210, 184, 135, 1);
}

.contact-info {
    justify-content: center;
    background-color: #1C3E78;
    border: rgba(210, 184, 135, 1) solid .3vh;
    width: 60vh;
    border-radius: 2vh;
    margin: 0 auto;
 }
 
.contact-info ul li {
    color: white;
}

.contact-info p {
    margin-top: 1em;
}

.contact-info ul li::marker {
    color: rgba(210, 184, 135, 1);
}

.contact-info ul li a {
    color: rgba(210, 184, 135, 1);
}

/* 
.container {
    border-bottom: ;
} */