:root {
    --primary-color: #1C3E78;
    --secondary-color: #D2B887;
    --accent-color: #F7F5EF;
    --text-color: #333333;
    --background-color: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
    background-image: url('../images/stock/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    height: 35vh;
    width: 100%;
    border-bottom: .5vh solid;
    border-image: linear-gradient(90deg, rgba(210, 184, 135, 1) 0%, rgba(247, 245, 239, 1) 50%, rgba(210, 184, 135, 1) 100%) 1;
    /* box-shadow: inset 0 0 70px rgba(0, 0, 0, 0.2); */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7.5vh;
    padding: 0 1.5vw;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .8) 10%, transparent);
}

main {
    padding: 2vh 15vw;
    margin: auto;
}

.container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.stack{
    flex-direction: column;
    align-items: center;
}

.stack-right{
    flex-direction: column;
    align-items: flex-end;
}

.stack-left{
    flex-direction: column;
    align-items: flex-start;
}

.list{
    gap: 0px;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 3vh;
    margin-bottom: 1vh;
    color: #1C3E78;
    text-align: center;
    text-shadow: -1px -1px 0 rgba(210, 184, 135, 1), 1px -1px 0 rgba(210, 184, 135, 1), -1px 1px 0 rgba(210, 184, 135, 1), 1px 1px 0 rgba(210, 184, 135, 1);
}

h2 {
   font-family: 'Merriweather', serif;
   color: #1C3E78;
   text-shadow: -.5px -.5px 0 rgba(210, 184, 135, 1), .5px -.5px 0 rgba(210, 184, 135, 1), -.5px .5px 0 rgba(210, 184, 135, 1), .5px .5px 0 rgba(210, 184, 135, 1);
   margin: 0;
   font-size: 1.25em;
}

p {
    font-size: 1.5vh;
    color: #333;
}

h2,p {
    margin: 0;
}

ul{
    padding-left: 1.5vh;
    font-size: 1.5vh;
    line-height: 1.4vh;
    color: #333;
}



#bio img{
    margin: 0 auto 2vh auto;
    height: 35vh;
    width: auto;
}

#bio .contact-info {
    justify-content: center;
    background-color: #1C3E78;
    border: rgba(210, 184, 135, 1) solid .3vh;
    width: 60vh;
    border-radius: 2vh;
    margin: 0 auto;
 }
 
#bio .contact-info ul li {
    color: white;
}

#bio .contact-info p {
    margin-top: 1em;
}

#bio .contact-info ul li::marker {
    color: rgba(210, 184, 135, 1);
}

#bio.contact-info ul li a {
    color: rgba(210, 184, 135, 1);
}

#accomplishments .container {
    border-bottom: 1px solid #1C3E78; 
    padding-bottom: 20px; 
    margin-bottom: 30px; 
}

#accomplishments .container:last-child {
    border-bottom: none;
}

#accomplishments div img {
    width: 13vh;
    flex-shrink: 0;
}

#offerings .lists-wrapper {
    display: flex;
    gap: 2vh;
}

#offerings .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    color: white;
    background-color: #1C3E78;
    border: rgba(210, 184, 135, 1) solid .3vh;
    padding: 2vh;
}

#offerings .list h2 {
    font-size: 2vh;
    margin-bottom: 1vh;
    text-align: center;
    color: white;
    
}

#offerings .list ul {
    list-style-type: disc;
    padding-left: 2vh;
    padding-right: 2vh;
}

#offerings .list ul li {
    color: white;
}

.contact-info ul li::marker,
#offerings .list ul li::marker {
    color: rgba(210, 184, 135, 1);
}

footer {
    text-align: center;
    padding: 1vh 0;
    background-color:#1C3E78;
    border-top: .3vh solid;
    border-image: linear-gradient(90deg, rgba(210, 184, 135, 1) 0%, rgba(247, 245, 239, 1) 50%, rgba(210, 184, 135, 1) 100%) 1;
    font-size: 1.5vh;
    color: #666;
}