:root {
    --primary-color: #1F2A33;
    --content-area-color: #FFFFFF;
    --accent-color: #2FA4A9;
    --text-color: #3A3A3A;
    --background-color: #E7ECEF;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

header {
    position: relative;
    background-image: url('../images/stock/pngtree-jet.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    height: 20vh;
    width: 100%;
    border-bottom: .25vh solid;
    border-image: linear-gradient(90deg, var(--primary-color) 0%, var(--accent-color) 50%, var(--accent-color) 100%) 1;
    border-color: var(--primary-color);
    box-shadow: inset 0 0 70px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7.5vh;
    padding: 0 1.5vw;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .8) 10%, transparent);
}

main {
    padding: 2vh 7.5vw;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: var(--content-area-color);
}



h1 {
    font-family: 'Merriweather', serif;
    font-size: 3vh;
    margin-bottom: 1vh;
    color: var(--primary-color);
    text-align: center;
    text-shadow: -.75px -.75px 0 var(--accent-color), .75px -.75px 0 var(--accent-color), -.75px .75px 0 var(--accent-color), .75px .75px 0 var(--accent-color);
}

h2 {
   font-family: 'Merriweather', serif;
   color: var(--primary-color);
   /* text-shadow: -.5px -.5px 0 var(--accent-color), .5px -.5px 0 var(--accent-color), -.5px .5px 0 var(--accent-color), .5px .5px 0 var(--accent-color);
   margin: 0; */
   font-size: 1.25em;
}

p {
    font-size: 1.5vh;
    color: var(--text-color);
}

h2,p {
    margin: 0;
}

ul{
    padding-left: 1.5vh;
    font-size: 1.5vh;
    line-height: 1.4vh;
    color: var(--text-color);
}

.container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.stack{
    flex-direction: column;
    align-items: center;
}

.stack-right{
    flex-direction: column;
    align-items: flex-end;
}

.bio-image {
    width: 100%;
    max-width: 25vh;
    height: auto;
    flex-shrink: 1;
}

.stack-left{
    flex-direction: column;
    align-items: flex-start;
}

.list{
    gap: 0px;
}

#bio img{
    margin: 0 auto 2vh auto;
    flex: 1 1 50%
}

#bio .contact-info {
    justify-content: center;
    background-color: var(--primary-color);
    border: var(--accent-color) solid .3vh;
    width: 35vw;
    border-radius: 2vh;
    margin: 0 auto;
 }
 
#bio .contact-info ul li {
    color: white;
}

#bio .contact-info p {
    margin-top: 1em;
}

#bio .contact-info ul li::marker {
    color: var(--accent-color);
}

#bio .contact-info ul li a {
    color: var(--accent-color);
}

#accomplishments .container {
    border-bottom: 1px solid var(--primary-color); 
    padding-bottom: 20px; 
    margin-bottom: 30px; 
}

#accomplishments .container:last-child {
    border-bottom: none;
}

#accomplishments div img {
    width: 13vh;
    height: 13vh;
    flex-shrink: 0;
}

#offerings .lists-wrapper {
    display: flex;
    gap: 2vh;
}

#offerings .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    color: var(--content-area-color);
    background-color: var(--primary-color);
    border: var(--accent-color) solid .3vh;
    padding: 2vh;
}

#offerings .list h2 {
    font-size: 2vh;
    margin-bottom: 1vh;
    text-align: center;
    color: white;
}

#offerings .list ul {
    list-style-type: disc;
    padding-left: 2vh;
    padding-right: 2vh;
}

#offerings .list ul li {
    color: var(--content-area-color);
}

.contact-info ul li::marker,
#offerings .list ul li::marker {
    color: var(--accent-color);
}

footer {
    text-align: center;
    padding: 1vh 0;
    background-color: var(--primary-color);
    border-top: .3vh solid;
    border-image: linear-gradient(90deg, var(--accent-color) 0%, rgba(247, 245, 239, 1) 50%, var(--accent-color) 100%) 1;
    font-size: 1.5vh;
    color: var(--text-color);
}